<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TaskIt</title>
  <link rel="stylesheet" type="text/css" href="../../css/style.css">
  <script src="js/services.js"></script>
  <script src="js/jobsCrud.js"></script>
  <script src="js/jobOffersCrud.js"></script>
</head>
<body>
{{$body}}
</body>
</html>