{{#each job}}
          <a href="/job/{{id}}">
            <div class="job-card">
              <h3>{{service_name}}</h3>
              <p>{{Job_description}}</p>
              <p>Service Provider: {{reject_accept}}</p>
            </div>
          </a>
{{/each}}