{{#each jobOffer}}
            <div class="job-card">
              <h3>{{service_name}}</h3>
              <p>{{Job_description}}</p>
              <p>Service Provider: {{service_provider_id}}</p>
            </div>
          </a>
{{/each}}